<html>
   <body>
      <script>
         function validate(){
            var size=5000000;
            var file_size=document.getElementById('file_upload').files[0].size;
            if(file_size>=size){
                alert('File too large');
                return false;
            }
         }
      </script>
      <form action = "http://localhost:5000/uploader" method = "POST"  enctype = "multipart/form-data">
         <input type = "file" id="file_upload" name = "file" />
         <input type = "submit" onClick="return validate()"/>
      </form>
   </body>
</html>